<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load framework css or third party -->
    <link href="{{ .TemplateURL }}/fonts/fontnunito.css" rel="stylesheet" type="text/css">
    <link href="{{ .TemplateURL }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .TemplateURL }}/vendor/alertifyjs/css/alertify.min.css" rel="stylesheet">
    <link href="{{ .TemplateURL }}/vendor/alertifyjs/css/themes/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ .TemplateURL }}/vendor/bootstrap-table/dist/bootstrap-table.min.css">

    <!-- Load custom css -->
    <link href="{{ .TemplateURL }}/css/pos/main.css" rel="stylesheet">

</head>